.header {
    justify-content: space-between;

    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    height: 10vh;
    padding: 0 1.5rem;

    background: #9FC1D0;
}
.header__title {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: calc(1.5em + 1vw);
}
.nav {
    position: absolute;
    z-index: 90;
    top: 10vh;
    right: 0;
    width: 90%;
    max-width: 400px;
    height: 90vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transform: translateX( 100% );
    transition: transform 0.5s linear;
}
.nav.visible {
    transform: translateX( 0% );
}
.list__nav {
    list-style: none;
}
.item__list-nav {
    width: 100%;
    height: 45px;
}
.item__link-nav {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: calc(1em + 1vw);
    font-weight: 600;
    color: white;
    transition: all 0.5s linear;
}
.item__link-nav:hover {
    font-style: italic;
    text-shadow: 1px 1px 5px orange;
    transform: scale(1.2);
}
.background {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: -1;

    width: 100%;
    min-height: calc(90vh - 15px);
    background: url("../../../assets/vista-exterior.jpg");
    background-size: cover;
    background-position: center center;
}
.containner__ppl {
    width: 100%;
    min-height: calc(90vh - 15px);
    overflow: hidden;
}
.btn__cart {
    position: relative;
    min-width: auto;
    width: 45px!important;
    height: 45px!important;
    color: white;
    font-size: calc(.7em + 1vh);
}
.btn__cart .count__cart {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 20px;
    height: 20px;
    font-size: calc(.2em + 1vh);
    border-radius: 50%;
    background: red;
    color: white;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: black;
}
@media (min-width:720px) {
    .btn__menu {
        display: none;
    }
    .nav {
        position: static;

        width: 60%;
        max-width: none;
        height: 10vh;
        background: none;
        backdrop-filter: blur(0px);
        transform: translateX( 0% );
        transition: none;
    }
    .list__nav {
        display:  flex;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 100%;
    }
    .item__list-nav {
        width: fit-content;
        margin-left: 1rem;
    }
    .item__link-nav {
        font-size: calc(.5em + 1vw);
    }
}